@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "./button.css";
@import "./input.css";
@import "./modal.css";
@import "tailwindcss";

@theme {
   --breakpoint-500: 500px;
   --color-main-purple: #635fc7;
   --color-light-purple: #a8a4ff;
   --color-black-1: #000112;
   --color-dark-grey: #20212c;
   --color-dark-grey-1: #2b2c37;
   --color-dark-grey-2: #3e3f4e;
   --color-grey: #828fa3;
   --color-light-grey: #e4ebfa;
   --color-light-grey-1: #f4f7fd;
   --color-grey-2: #828fa340;
   --color-grey-3: #635fc71a;
   --color-grey-4: #635fc740;
   --color-red: #ea5555;
   --color-red-1: #ff9898;
}

* {
   font-family: "Plus Jakarta Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}

/* body {
   overflow: hidden;
} */

.flex-center {
   @apply flex justify-center items-center;
}

.flex-items {
   @apply flex items-center;
}

.card-shadow {
   box-shadow: 0px 4px 6px 0px #364e7e1a;
}

.list-item {
   @apply font-bold text-[15px] py-4 px-8 flex items-center gap-x-4 w-full;
}

.active-board {
   filter: brightness(200%) contrast(150%);
}
